<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium Automation Framework">
    <listeners>
        <listener class-name="com.qa.listeners.MyListeners"></listener>
    </listeners>
    <test name="TestCases">
        <classes>
            <class name="com.qa.testcases.Register"/>
            <class name="com.qa.testcases.Login"/>
            <class name="com.qa.testcases.Search"/>
        </classes>
    </test><!-- Test -->
</suite><!-- Suit -->